<%- include('../partials/header') %>

<h1> Hello</h1>

<br><br><h2>Details</h2>
<form id="add-detail-form" method="POST"
  action="/flights/details">
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <input type="submit" value="Add Review">
</form>

<%- include('../partials/footer') %>