<%- include('../partials/header') %>

<h1> Hello</h1>

<br><br><h2>Details</h2>
<form id="add-detail-form" method="POST"
  action="/flights/details">
  <label>Flight:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="Airline">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  <input type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>